.containerButton {
  margin-top: 15px;
  align-content: "center";
  justify-content: "center";
}

.containerCadastro {
  margin-top: 25px;
  align-content: "center";
  justify-content: "center";
  margin-bottom: 22px;
}

.button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  height: 50px;
  width: 360px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  text-align: center;
  background: rgb(113, 89, 193);
  border-radius: 5px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  transition: background 0.2s ease 0s;
}
