* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  max-width: 100%;
  display: block;
}

body {
  background: #000 url("./assets/background.png") no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}
